/* Визначення стилів для скролбару */
::-webkit-scrollbar {
	width: 12px; /* Ширина вертикального скролбару */
	height: 12px; /* Висота горизонтального скролбару */
}

/* Стиль фону для скролбару */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.8); /* Яскравий жовтий фон */
	border-radius: 2px; /* Заокруглення країв */
}

/* Стиль самого скролбару */
::-webkit-scrollbar-thumb {
	background: $accent; /* Яскравий червоний колір для скролбару */
	border-radius: 2px; /* Заокруглення країв */
}
